{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block content %}
{% load static %}
<div class="page-header">
    <div class="page-title">
        <h4>Product Add</h4>
        <h6>Create new product</h6>
    </div>
</div>
<form action="" id="productForm" method="post" data-subcategory-url="{% url 'getsubcategories' %}" autocomplete=" off"
    enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        {% render_field form.productname|as_crispy_field %}
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        {% render_field form.category_name|as_crispy_field %}
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        {% render_field form.sub_category|as_crispy_field %}
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        {% render_field form.sku class="d-none"|safe|as_crispy_field class="form-control" %}
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        {{form.unit|as_crispy_field}}
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        {{form.status|as_crispy_field}}
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        {{form.product_image|as_crispy_field}}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        {{form.description|as_crispy_field}}
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-submit me-2">Submit</button>
                    <a href="{% url 'product_list' %}" class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>



{% endblock content %}