{% extends 'base.html' %}

{% load crispy_forms_tags %}


<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h3>Are you sure you want to delete this category?</h3>
        <div class="modal-buttons">
            <a id="deleteConfirm" class="btn btn-danger" href="#">Delete</a>
            <a id="deleteCancel" class="btn btn-secondary" href="#">Cancel</a>
        </div>
    </div>
</div>

{% block content %}
{% load static %}
                <div class="page-header">
                    <div class="page-title">
                        <h4>Product Category list</h4>
                        <h6>View/Edit product Category</h6>
                    </div>
                    <div class="page-btn">
                        <a href="{% url 'category_form' %}"class="btn btn-added">
                            <img src="{% static 'assets/img/icons/plus.svg' %}" class="me-1" alt="img">Add Category
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="table-top">
                            <div class="search-set">
                                <div class="search-path">
                                </div>
                                <div class="search-input">
                                </div>
                            </div>
                            <div class="wordset">
                                <ul>
                                    <li>
                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                                src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                                src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                                src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="checkboxs">
                                                <input type="checkbox" id="select-all">
                                                <span class="checkmarks"></span>
                                            </label>
                                        </th>
                                        <th>Category name</th>
                                        <th>Category Code</th>
                                        <th>Updated By</th>
                                        <th>Updated Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in category_list %}
                                    <tr>
                                        <td>
                                            <label class="checkboxs">
                                                <input type="checkbox">
                                                <span class="checkmarks"></span>
                                            </label>
                                        </td>
                                        <td>{{category.category_name}}</td>
                                        <td>{{category.category_code}}</td>
                                        <td>{{category.created_by}}</td>
                                        <td>{{category.updated_on}}</td>
                                        <td>
                                            <a class="me-3" href="{% url 'category_update' category.id %}">
                                                <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
                                            </a>
                                            <a class="me-3 confirm-text" href="{% url 'category_delete' category.id %}" onclick="return confirmDelete();">
                                                <img src="{% static 'assets/img/icons/delete.svg' %}" alt="Delete">
                                            </a>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    {% endblock content %}